# Local resources repository
resources

# config files and environment folders for backend
.env
env

# Node modules
node_modules

# Adonis directory for storing tmp files
tmp

# The development sqlite file
database/*.sqlite

# Ignore some temp files
unorganized
